@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

/* Removido o estilo para a tag body */
.container {
    width: 100%;
    height: auto; /* Alterado para 'auto' */
    display: flex;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.212);
    background-color: rgb(104, 110, 110);
}
p{
    color:black
}
p{
    font-size: large;
}
/* Estilo para a imagem */
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1rem;
}

.form-image img {
    width: 100%; /* Alterado para ocupar toda a largura do container */
    max-width: 100%; /* Adicionado para garantir que a imagem não ultrapasse o tamanho máximo do container */
}

/* Estilo para o formulário */
.form {
    width: 50%; /* Alterado para ocupar 50% do container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4b5b5;
    padding: 3rem;
}

/* Estilo para o título do formulário */
.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: left; /* Alterado para centralizar o título */
    position: relative; /* Adicionado para alinhar o traço */
}

/* Adicionado o estilo para o traço */
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    position: absolute;
    bottom: -0.8rem; /* Ajustado para posicionar abaixo do título */
    border-radius: 10px;
}

/* Ajustes adicionais para os inputs */
.form-control{
    margin-inline-end: 11px; /* Ajustado o espaçamento */
    padding-block: 15px;
    border: solid 1px #000;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 1.8rem;
    background-color: rgba(241, 239, 239, 0.781); /* Alterado para tornar transparente */
}
.gender-group {
    position: relative;
    top: 0px;
    width: 100%; /* Ocupa toda a largura */
}

.form-group2 {
    width: calc(35%); /* Calcula 25% da largura do container com uma margem de 10px entre as colunas */
}

/* Estilos para o cabeçalho */
.header {
    text-align: center;
    margin-bottom: 0px;
    background-color: blue;
    color: white;
    padding: 20px;
  }
  .title {
    margin-top: 20px;
    margin: 0;
  }
  p{
    font: 1em sans-serif;
    color:#000;
  }
  /* Estilos para os cards */
  .card {
    background-color: rgb(249, 246, 246);
    height: 200px;
    width: 180px; /* Define a largura total para os cards */
    margin-bottom: 0px;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.6s;
    border: solid 6% #000;
    margin: 20px;
  }
  .container{
    padding: 70px;
  }
  
  .logo1{
    height: 60%;
    width: 100%;
  }
  
  .card-body {
    text-align: center;
    position: absolute;
    top: 120px;
    height: 100px;
    width: 180px;
  }
  .card-img{
    width: 100%;
    height: 100%;
  }
  .card-button {
    font-size: small; 
    text-wrap: flex;
    width: 180px;
    height: 80%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(83, 83, 199);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  .navbar{
    width:100%;
  }
  #l3{
    position: relative;
    left:25px;
  }